<ion-header>
  <ion-toolbar>
    <ion-title>password-recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="withEmail">
    <section class="ion-margin-vertical">
      <form [formGroup]="reset" (ngSubmit)="resestpasswordForm()">
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="text-danger" *ngIf="reset.invalid && reset.get('email').touched && reset.get('email').errors">
          <small *ngIf="reset.get('email').errors.required">Field is required</small>
          <small *ngIf="reset.get('email').errors.email">Not a valid email</small>
        </div>
        <ion-button color="secondary" expand="block" shape="round" fill="outline" type="submit" large
                    [disabled]="reset.invalid">
          <ion-icon slot="end" name="home"></ion-icon>
          Login
        </ion-button>
      </form>
    </section>
  </div>
</ion-content>
