<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <section class="ion-margin-vertical">
    <ion-button color="dark" expand="block" shape="round" fill="outline" large (click)="withEmail = !withEmail">
      <ion-icon slot="end" name="mail"></ion-icon>
      Avec email
    </ion-button>
  </section>
  <div *ngIf="withEmail">
    <section class="ion-margin-vertical">
      <form [formGroup]="login" (ngSubmit)="loginForm()">
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="text-danger" *ngIf="login.invalid && login.get('email').touched && login.get('email').errors">
          <small *ngIf="login.get('email').errors.required">Field is required</small>
          <small *ngIf="login.get('email').errors.email">Not a valid email</small>
        </div>
        <ion-item>
          <ion-label>Mot de Passe</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="text-danger" *ngIf="login.invalid && login.get('password').touched && login.get('password').errors">
          <small *ngIf="login.get('password').errors.required">Field is required</small>
        </div>
        <ion-button color="primary" expand="block" shape="round"  type="submit" large
          [disabled]="login.invalid">
          <ion-icon slot="end" name="home"></ion-icon>
          Login
        </ion-button>
      </form>
    </section>

    <section class="ion-margin-vertical">
      <ion-label>Mot de passe oublié ?</ion-label>
    </section>
    <section class="ion-margin-vertical">
      <ion-button color="secondary"  shape="round" fill="outline" large
                  routerLink="/password-recovery">
        Récupérer le mot de passe
      </ion-button>
    </section>
  </div>
  <section>
    <ion-button (click)="google()">Avec Google <ion-icon name="logo-google"></ion-icon> </ion-button>
  </section>
  <section  class="ion-margin-vertical">
    <br/> 
    <br/>
    <br/> 
    <br/>
    <ion-button color="primary" fill="outline" shape="round" large
        routerLink="/register">
      <ion-icon slot="end" name="person-add-outline"></ion-icon> 
      Créer compte
    </ion-button>
  </section>
</ion-content>